* {
    box-sizing: border-box;
}

[wm-flappy] {
    position: relative;
    height: 42em;
    width: 75em;
    margin: auto;
    overflow: hidden;
    border: 0.2em solid white;
    border-radius: 1em;
    background-color: lightblue;
}

[wm-flappy].normal-bgd {
    background-image: url("../images/flappy_background.png");
}

.bird {
    position: absolute;
    width: 3em;
    left: calc(50% - 30px);
}

.pair-of-barriers {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barrier {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.barrier .border {
    width: 130px;
    height: 30px;
    border: 5px solid #000;
}

.barrier .body {
    width: 110px;
    height: 150px;
    border-left: 5px solid #000;
    border-right: 5px solid black;
}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 70px;
    z-index: 100;
}

div.popup {
    border-radius: 0.5em ;
}

.tube-color {
    background: linear-gradient(90deg, #83c403, #A5E82E, rgb(204, 255, 170), #77b300);
}

img.cover-centered, [wm-flappy] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img.flipped-x-image {
    transform: scaleX(-1);
}

img.flipped-y-image {
    transform: scaleY(-1);
}

img.stretched-image {
    width: 97px;
    height: 80px;
}