@font-face {
    font-family: "MinecraftFont";
    src: url("../fonts/Minecraft.woff2") format("woff2"),
         url("../fonts/Minecraft.woff") format("woff");
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }    
}

* {
    color: white;
    font-family: "MinecraftFont", monospace;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body, select, button, .fake-button {
    font-size: medium;
}

html {
    height: 100%;
}

body {
    background-color: rgb(10, 10, 10);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}

select, button, .fake-button {
    border-color: rgb(80, 80, 80);
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
}

select:hover, button:hover, .fake-button:hover {
    cursor: pointer;
}

table,
th,
td,
.bor1 {
    border: 1px solid white;
}

.centertext,
.center {
    text-align: center;
}

.centercontents,
.center {
    margin: auto;
    width: 50%;
}

.fontcolor1 {
    color: rgb(0, 0, 0);
}

.bgcolor1 {
    background-color: rgb(39, 39, 39);
}

.bgcolor2 {
    background-color: rgb(26, 26, 26);
}

.bgcolor3 {
    background-color: rgb(19, 19, 19);
}

.borcolor1 {
    border-color: white;
}

.width1 {
    width: 50%;
}

.height1 {
    height: 25em;
}

img.image-display {
    width: 35em;
    height: 20em;
}

img.small-image-display {
    width: 30em;
    height: 19em;
}


.rounded-corners {
    border-radius: 5px;
}

button.invisible {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.padding1 {
    padding: 0.5em;
}

.square-form {
    height: 30em;
    width: 30em;
}

.float-left {
    float: left;
}

.zoom {
    transition: transform .2s;
}
  
.zNormal:hover {
    transform: scale(1.05);
}

.zWeak:hover {
    transform: scale(1.02);
}